.navbar {
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(90deg, #FF9A9E, #FAD0C4);
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 60px; /* Added for consistency */
}

.heading {
  font-size: clamp(1rem, 5vw, 1.7rem);
  color: white;
  margin-left: 15px;
  display: flex;
  align-items: center;
}

/* Hamburger button styles */
.hamburger {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 30px;
  height: 20px;
  position: absolute;
  top: 16px;
  right: 16px;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
  transition: all 0.3s ease-in-out;
}

.hamburger.open span:first-child {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:last-child {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Menu styles for desktop */
.container-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  gap: 100px;
}

.link {
  text-decoration: none;
  color: #333333;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.link:hover {
  background-color: #FF6F61;
  color: white;
  cursor: pointer;
}

.link.active {
  color: #333333;
  background-color: #FF6F61;
}

/* Mobile view (max-width: 768px) */
@media (max-width: 767px) {
  .hamburger {
    display: block;
  }

  .menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    gap: 0;
    background-color: #FF9A9E;
    flex-direction: column;
    align-items: center;
    padding: 0;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .menu.open {
    display: flex;
    opacity: 1;
    transform: scale(1);
  }

  .menu li {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .menu .link {
    font-size: 1.2rem;
  }
}